<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TTMC</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	</head>
	<body>
{% block content %}{% endblock %}
		<script>
{% include "scripts.js" %}
		</script>
	</body>
</html>
