{% extends 'base.html' %}
{% block content %}
<h2>I are index page</h2>
<p>Hello world!</p>

<form id="form">
	<p>Universal form</p>
	<label for="form-type">Type</label>
	<select id="form-type" name="type">
		<option value="local">Local</option>
		<option value="community">Community</option>
		<option value="snmp">SMNP</option>
	</select><br>
	<label for="form-name">Name</label>
	<input id="form-name" name="name"><br>
	<label for="form-passworda">PasswordA</label>
	<input id="form-passworda" name="passworda"><br>
	<label for="form-passwordb">PasswordB</label>
	<input id="form-passwordb" name="passwordb"><br>
	<label for="form-enabled">Enabled</label>
	<input type="checkbox" id="form-enabled" name="enabled"><br>

	<div class="button" onclick="submitRequest('form', 'GET');">GET</div><br>
	<div class="button" onclick="submitRequest('form', 'POST');">POST</div><br>
	<div class="button" onclick="submitRequest('form', 'PATCH');">PATCH</div><br>
	<div class="button" onclick="submitRequest('form', 'DELETE');">DELETE</div><br>
</form>

<form id="form-convert">
	<p>Conversion form</p>
	<label for="form-convert-username">Username</label>
	<input id="form-convert-username" name="username"><br>
	<label for="form-convert-source">From</label>
	<select id="form-convert-source" name="source">
		<option value="local">Local</option>
		<option value="community">Community</option>
		<option value="snmp">SMNP</option>
	</select><br>
	<label for="form-convert-destination">To</label>
	<select id="form-convert-destination" name="destination">
		<option value="local">Local</option>
		<option value="community">Community</option>
		<option value="snmp">SMNP</option>
	</select><br>
	<div class="button" onclick="submitRequest('form-convert', 'convert');">Convert</div>
</form>

<div id="pseudoconsole" class="console"></div>
{% endblock %}
