body {
	background: #252020;
	color: #e09030;
}

form {
	display: inline-block;
	width: 400px;
	border: 1px solid #d08020;
	padding: 10px;
	margin: 20px;
	vertical-align: top;
}

label {
	width: 120px;
	display: inline-block;
}

div.button {
	margin-left: 120px;
	margin-top: 10px;
	display: inline-block;
	padding: 5px;
	border: 1px solid #f0a040;
	background: #403030;
	cursor: pointer;
}

div.console {
	display: block;
	font-family: monospace;
	border: 1px solid #a0f040;
	background: #202020;
	color: #40f060;
	height: 200px;
}
